@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Oswald:wght@500&display=swap');

h2, h1, h4{
    font-family:Oswald;
}

p, nav{
    font-family:Cairo;
    font-size:20px;
}

nav{
    background-color:#0F263E;
}

body{
    color:white;
    background-color:#16385D;
}

hr{
    color:white;
    background-color:white;
}

a{
	color:#16385D;
	transition-duration:0.2s;
}

a:hover{
    color:#0F263E;
}

header{
    background-color:#FF7200;
}

footer{
    background-color:#0F263E;
}

footer i, footer a{
	color:white;
	transition-duration:0.2s;
}

footer i:hover, footer a:hover{
	color:darkgray;
}

.bio, .projects{
    background-color:#FF8D31;
}

.nav-link{
    transition-duration:0.1s;
}
.nav-link:hover{
    font-size:110%;
}